/*universal text*/

.App {
  text-align: center;
}

.Paragraph {
  margin: 1em;
  margin-left: 15em;
  margin-right: 15em;
  font-family: avenir;
  font-size: 18px;
  text-align: left;
}


/*weather boxes*/

.box {
  width: 40%;
  margin: 2em;
  padding: 2em;
  background-color: #1c365b;
  color: #fff;
  font-family: avenir;
  display: inline-block;
}


/*home page*/

.Headline {
  background-color: #59a85f;
  height: 65px;
  padding: 60px;
  color: white;
  margin: 0px;
  font-size: 50px; 
  font-family: avenir;
}

.Sub-Headline {
  background-color: #ef7c39;
  height: 35px;
  padding: 40px;
  padding-bottom: 35px;
  color: #fff;
  margin: 0px;
  font-family: avenir;
}

.Home-Text {
  background-color: #3c8db2;
  height: 200px;
  padding: 40px;
  color: #fff;
  margin: 0px;
  font-family: avenir;
  font-size: 18px; 
}


/*nav*/

.Nav-Button {
  background-color: #0386b7;
  padding: 20px;
  color: #fff;
  font-family: avenir;
  font-size: 18px; 
  margin: .5em;
  border:  none;
  border-radius: 15px;
}

.Nav-Button a {
  color: #fff;
  text-decoration: none;
}


/*page headers*/

.Form-Header {
  background-color: #093c4f;
  height: 100%;
  padding: 20px;
  color: white;
  margin: 0px;
  font-family: avenir;
}

.About-Header {
  background-color: #26842c;
  height: 100%;
  padding: 20px;
  color: white;
  margin: 0px;
  font-family: avenir;
}

.Weather-Header {
  background-color: #ad0110;
  height: 100%;
  padding: 20px;
  color: white;
  margin: 0px;
  font-family: avenir;
}

.Weather-Form {
  font-family: avenir;
  font-size: 20px;
  border: solid 4px #eee;
  margin: 4em;
  margin-left: 20em;
  margin-right: 20em;
  text-align: left;
  padding: 2em;
  padding-left: 7em;
  padding-right: 7em;
}
