.App {
  text-align: center;
}

.App-header {
  background-color: #59a85f;
  height: 28px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.box {
  width: 40%;
  margin: 2em;
  padding: 2em;
  background-color: #1c365b;
  color: #fff;
  display: inline-block;
}
