.App {
  text-align: center;
}

.App-header {
  background-color: #59a85f;
  height: 100%;
  padding: 20px;
  color: white;
  margin: 0px;
}

.Headline {
  background-color: #59a85f;
  height: 55px;
  padding: 60px;
  color: white;
  margin: 0px;
  box-shadow: 5px 5px 5px 5px;
  font-size: 50px; 
  font-family: avenir;
}

.Sub-Headline {
  background-color: #ef7c39;
  height: 35px;
  padding: 40px;
  padding-bottom: 35px;
  color: #fff;
  margin: 0px;
  box-shadow: 5px 5px 5px 5px;
  font-family: avenir;
}

.Home-Text {
  background-color: #3c8db2;
  height: 200px;
  padding: 40px;
  color: #fff;
  margin: 0px;
  box-shadow: 5px 5px 5px 5px;
  font-family: avenir;
  font-size: 18px; 
}

.box {
  width: 40%;
  margin: 2em;
  padding: 2em;
  background-color: #1c365b;
  color: #fff;
  display: inline-block;
}
